* {
    padding: 0;
    margin: 0;
    box-sizing:border-box;
 }
 
 .background{
    background-image: url(../imagenes/pexels-pixabay-257736.jpg);
    background-size: cover;
    background-position: center; 
}

.header{
    background-color: white;
    border-bottom: solid 5px red;
    position: static;
}
 

li{
    display: inline;
    margin: 5px;
    padding-left: 3px;
    padding-right: 3px;
}

 a{
    text-decoration: none;
}

.navegador{
    border: 2px solid #555;
    padding: 1rem;
    display: flex;
    justify-content: center;
    margin: right;
    background: yellow;
}

.titulo{
    text-align: center;
    color: #ff0000;
    font-size: 50px;
    font-weight: 700;
    text-decoration: underline;
    font-family: 'Roboto', sans-serif;

    gap: 2rem;
}

.titulo__subtitulo{
    color: blue;
    font-size: 25px;
    font-weight: 400;
    text-decoration: underline;

    gap: 2rem;
}

.titulo__parrafo{
    color: white;
    background-color: black;
    font-weight: 300;
}

.titulo__subtitulo2{
    color: green;
    font-size: 25px;
    font-weight: 400;
    text-decoration: underline;
}

.titulo__parrafo2{
    color: #F73100;
    background-color: aqua;
}
h2{
    text-decoration: underline;
}
.background__sobre-nosotros{
    background-color: rgb(185, 185, 185);
}
.background__servicios{
    background-color: rgb(121, 121, 197);
}

.background__equipo-de-trabajo{
    background-color: #edf79e;
}
.background__contacto{
    background-color: rgb(65, 65, 65);
}

.formulario{
    background-color: black;
    border-radius: 10px;
    width: 500px;
    height: 360px;
    padding: 16px;
    border: 5px solid yellow;
    margin: 32px;
    margin: 0 auto;
    color: white;
}

.footer{
    padding: 2rem 1rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;

    gap: 2rem;
}

.footer__copy{
    font-weight: 700;
    text-decoration: underline;
}

@media screen and (max-width: 600px) {
    body {
        background-color: pink;
    }
}